:root {
	--main-color: #f2f2f2;
	--secondary-color: #0066cc;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 70px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	line-height: 60px;
}

#content {
	margin-top: 2%;
	margin-left: auto;
  	margin-right: auto;
  	width: 650px;
}

.link {
	transition: color 0.3s;
	font-size: 15px;
}

.link:hover {
	color: var(--secondary-color) !important;
}

.listing {
  transition: box-shadow .3s;
  background-color: var(--main-color);
  margin-bottom: 10px;
}

.listing:hover {
	box-shadow: 0 0 6px rgba(0,0,0,0.3); 
}

.details {
	border-radius: 15px;
    background-color: var(--main-color);
    padding: 15px; 
    margin-bottom: 20px;
}

.btn-primary {
	background-color: var(--secondary-color);
}

#logo {
	font-family: 'Baloo Bhaina 2', cursive;
	padding-top: 10px;
	color: var(--secondary-color);
}

.hero {
	background-color: var(--main-color);
}

#time-form {
  margin-left: 20px;
}

.alert {
  text-align: center;
}

#dynamicInput {
  padding-bottom: 20px;
}

/* Taken from hover.css */
.hvr-outline-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-outline-in:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: var(--secondary-color) solid 2px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-in:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  opacity: 1;
}
